<footer>
    <div class="row">
        <div class="medium-6 columns">
            <h5>Over Litoziekla</h5>
            <p>Jeugdtheater LITOZIEKLA* vzw is een jonge, dynamische theatergroep
                uit Oudenaarde die op 26 februari 1986 is opgericht. Wat ooit begon als een
                onschuldig toneeltje in een garage is nu uitgegroeid tot een bekend begrip in
                Oudenaarde.</p>
        </div>
        <div class="medium-6 columns">
            <ul class="menu">
                <li>
                    <a href="{{root}}index.html">Home</a>
                </li>
                <li>
                    <a href="{{root}}activiteiten.html">Activiteiten</a>
                </li>
                <li>
                    <a href="{{root}}producties.html">Producties</a>
                </li>
                <li>
                    <a href="{{root}}contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
